/*!!!
section: Examples
title: background-size cover fix for IE
description: Fix for background-size cover; and background-size contain; for IE. Everywhere you use background-size in your CSS, add  the property -ms-behavior pointing to url(./js/backgroundsize.min.htc);
jade: |
  .imageCover(style="background-image: url('http://placehold.it/200x200/&text=cssexy'); height: 200px; -ms-behavior: url(./js/backgroundsize.min.htc)")
*/
