body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 16px

/*!!!
section: Typography
title: Typeface Strong
description: Use to change font weight to 'bold'
jade: strong lorem5
*/
strong
  font-weight: 700

/*!!!
section: Typography
title: Emphasis and italize
description: Use "em" to emphasize by italizing and use "i" to italize without emphasizing
jade: |
  p
    em lorem5
  p
    i lorem5
*/
em
  font-style: italic
i
  font-style: italic
