/*!!!
section: Utilities
title: Spacers
description: When possible all spacing [should go only down](http://csswizardry.com/2012/06/single-direction-margin-declarations/) and not up.
jade: |
  - for(var i=1; i<=5; i++)
    | foo test
  - for(var i=1; i<=5; i++)
    div(class="guidedog u-spacer"+i) u-spacer#{i}
*/

/*!!!
section: Utilities
title: Padding
description: Utility for Padding all around using size() method
jade: |
  - for(var i=1; i<=5; i++)
    div(class="guidedog u-padding"+i) u-padding#{i}
*/

for num in (1..5)
  .u-spacerWrap{num}
    margin-bottom: size(num) * -1
  .u-spacer{num}
    margin-bottom: size(num)
  .u-spacerTop{num}
    margin-top: size(num)
  .u-padding{num}
    padding: size(num)


/*!!!
section: Utilities
title: Section Spacer
description: Used to add spacing below (between) each individual block
*/
.u-blockSpacer
  margin-bottom: block-spacer

.u-blockChildrenSpacer
  margin-bottom: block-children-spacer

.u-blockChildrenWrap
  margin-bottom: block-children-spacer * -1

.u-blockSpacer--full + .u-blockSpacer--full,
.hero + .u-sectionPadding > .u-blockSpacer--full:first-child
  margin-top: block-spacer * -1

/*!!!
section: Utilities
title: Font style - Italics
description: Use to change font style to italics
jade: p.u-italic lorem2
*/
.u-italic
  font-style: italic

/*!!!
section: Utilities
title: Font style - Bold
description: Use to change font weight to 'bold'
jade: p.u-bold lorem2
*/
.u-bold
  font-weight: 500

 /*!!!
section: Utilities
title: Text Align - Left
description: Use to align text to center
jade: |
  .u-alignLeft
  	p lorem2
*/
.u-alignLeft
	text-align: left

/*!!!
section: Utilities
title: Text Align - Center
description: Use to align text to center
jade: |
  .u-alignCenter
  	p lorem2
*/
.u-alignCenter
	text-align: center

/*!!!
section: Utilities
title: Text Align - Right
description: Use to align text to the right
jade: |
  .u-alignRight
  	p lorem2
*/
.u-alignRight
	text-align: right


/*!!!
section: Utilities
title: Display - block
jade: |
  .u-block
  	span lorem2
*/
.u-block
	display: block

/*!!!
section: Utilities
title: Display - inline-block
jade: |
  .u-inlineBlock
  	span lorem2
*/
.u-inlineBlock
	display: inline-block

/*!!!
section: Utilities
title: Clearfix
description: General clearfix helper.
jade: .u-clearfix Clearfix
*/
.u-clearfix
  &:after
    content: "";
    display: table;
    clear: both;
