/*!!!
section: Utilities
title: Spacers
description: When possible all spacing [should go only down](http://csswizardry.com/2012/06/single-direction-margin-declarations/) and not up.
jade: |
  - for(var i=1; i<=5; i++)
    | foo test
  - for(var i=1; i<=5; i++)
    div(class="guidedog u-spacer"+i) u-spacer#{i}
*/

/*!!!
section: Utilities
title: Padding
description: Utility for Padding all around using size() method
jade: |
  - for(var i=1; i<=5; i++)
    div(class="guidedog u-padding"+i) u-padding#{i}
*/
for num in (1..5)
  +replicate(s('.u-spacerWrap%s', num))
    margin-bottom: size(num) * -1

  +replicate(s('.u-spacer%s', num))
    margin-bottom: size(num)

  +replicate(s('.u-spacerTop%s', num))
    margin-top: size(num)

  +replicate(s('.u-padding%s', num))
    padding: size(num)

 /*!!!
section: Utilities
title: Text Align - Left
description: Use to align text to center
jade: |
  .u-alignLeft
  	p lorem2
*/
+replicate('.u-alignLeft')
	text-align: left

/*!!!
section: Utilities
title: Text Align - Center
description: Use to align text to center
jade: |
  .u-alignCenter
  	p lorem2
*/
+replicate('.u-alignCenter')
	text-align: center

/*!!!
section: Utilities
title: Text Align - Right
description: Use to align text to the right
jade: |
  .u-alignRight
  	p lorem2
*/
+replicate('.u-alignRight')
	text-align: right

/*!!!
section: Utilities
title: Display - block
jade: |
  .u-block
  	span lorem2
*/
+replicate('.u-block')
	display: block

/*!!!
section: Utilities
title: Display - inline-block
jade: |
  .u-inlineBlock
  	span lorem2
*/
+replicate('.u-inlineBlock')
	display: inline-block

/*!!!
section: Utilities
title: Clearfix
description: General clearfix helper.
jade: .u-clearfix Clearfix
*/
.u-clearfix
  &:after
    content: "";
    display: table;
    clear: both;
