
/*!!!
section: Colours
title: Swatches
description: |
  Color variables are defined here
swatches: [{name: darkGrey, value: "#cbcbcf"}, {name: mediumGrey, value: "#e0e0e2"}, {name: lightGrey, value: "#f7f7f8"}, {name: success, value: "#449d44"}, {name: warning, value: "#ec971f"}, {name: danger, value: "#c9302c"}, {name: default, value: "#fff"}]
 */
darkGrey = #cbcbcf
mediumGrey = #e0e0e2
lightGrey = #f7f7f8
success = #449d44
warning = #ec971f
danger = #c9302c
default = #fff
