base-font-size = 16px
grid-columns = 12

breakpoints = {
  large: {breakpoint: '(min-width: 481px)', gutter: size(2)},
  desk: {breakpoint: '(min-width: 1024px)', gutter: size(3)},
  lap: {breakpoint: '(min-width: 481px) and (max-width: 1023px)', gutter: size(2)},
  portable: {breakpoint: '(max-width: 1023px)', gutter: size(2)},
  palm: {breakpoint: '(max-width: 480px)', gutter: size(1)}
}
