body
  background: white
  
img
  max-width: 100%
  display: block

.wrapper
  max-width: 1140px
  margin: 0 auto
  padding-left : 30px
  padding-right: 30px
  +media(lap)
    padding-left: 20px
    padding-right: 20px
  +media(palm)
    padding-left: 15px 
    padding-right: 15px 
  

for num in (1..8)
  +replicate(s('.u-paddingVertical%s', num))
    padding-top: size(num)
    padding-bottom: size(num)

  +replicate(s('.u-marginVertical%s', num))
      margin-top: size(num)
      margin-bottom: size(num)
      

.light-container
  background: white
  
