footer
  background: medium-grey
  color: darken(dark-grey, 30$)
  text-align: center
  padding: 20px 0

.p--footer
  margin: 0
  font-size: 12px
  a
    display: inline-block
    text-decoration: none
    color: darken(dark-grey, 60$)
    border-bottom: 1px dotted darken(dark-grey, 30$)
    transition: all 0.2s ease-in-out
    &:hover
      border-color: primary-color