input,
textarea
  display: block
  width: 100%
  margin-bottom: 10px
  font-size: 16px
  font-family: "proxima-nova",sans-serif

input[type="text"],
textarea
  border: none
  padding: 15px
  box-shadow: 0 3px 0 darken(dark-grey, 10%)

input[type="submit"]
  padding: 10px 25px
  background: primary-color
  border: 2px solid white
  color: white
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 3px
  font-size: 20px
  text-decoration: none
  cursor: pointer
  transition: all 0.2s ease-in-out
  &:hover
    background: rgba(white, 0.3)