header
  padding: 30px 0
  border-bottom: 1px solid rgba(white, 0.1)
  text-align: center
  color: white
  position: absolute
  top: 0
  left: 40px
  right: 40px
  z-index: 1
  height: 112px
  
  .icon-mahmoodmagic
    font-size: 50px
    opacity: 0.7
    display: none