.testimonial-container
  background: light-grey

.testimonial-author
  color: dark-grey
  &:before
    content: '-'
    display: inline-block
    padding-right: 5px

.p--testimonial
  position: relative
  font-style: italic
  font-size: 18px

.p--testimonial:before
  content: '“'
  
.p--testimonial:after
  content: '”'