base-font-size = 16px
grid-columns = 12
gutter-size = 24px

breakpoints = {
  large: {breakpoint: '(min-width: 481px)', gutter: gutter-size},
  desk: {breakpoint: '(min-width: 1024px)', gutter: gutter-size},
  lap: {breakpoint: '(min-width: 481px) and (max-width: 1023px)', gutter: gutter-size},
  portable: {breakpoint: '(max-width: 1023px)', gutter: gutter-size},
  palm: {breakpoint: '(max-width: 480px)', gutter: gutter-size}
}
