doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Default Project
    //- link(href='/css/vendor.min.css', rel='stylesheet')
    script(src='/js/vendor.min.js', type='text/javascript')
    script(src='/js/app.min.js', type='text/javascript')
    link(rel="stylesheet" type="text/css" href="/css/app.css")

  body
    header.page-row
      | Hello I'm a header

    .page-row-expanded
      block content

    footer.page-row
      | Hello I'm a footer

    script(src="/js/vendor.min.js", type="text/javascript")
    script(src="/js/app.min.js", type="text/javascript")
