extends ./application_layout.jade

block content
  .container
    .sample-image
    p Content for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for IndexContent for Index
