doctype html
html
  head
    title Default Project 
    meta(content="initial-scale=1.0, maximum-scale=1.0, width=device-width", name="viewport")
    link(href='/css/app.css', rel='stylesheet', type='text/css')
  body
    script(src="/js/app.min.js", type="text/javascript")
